*                   /*The "*" selects all the elements aka universal selector or apply styles to all elements*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*tells the browser to account for any border and padding in the values you specify*/
    /*For eg, if our content takes more space including the padding, the browser allows it*/
    /*written a bit in detail in my MST wala notebook, ask me if you dont understand*/

    font-family: "Poppins", sans-serif;
}

body
{
    background-color: #c7c7c7;
    width: 100%;
    min-height: 300vh;  /*vh means viewport height*/
    /*height so that we can scroll down the screen*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container
{
    /*Absolute means its position value is fixed*/
    /*Sticky means Relative(when normal) and Fixed (when scrolled) and the top,right,bottom, left values are active*/
    /*The top and left 0 means it'll stay at the top left corner*/
    /*The navigation bar will take 100% of the width of the browser*/
    /*The values in padding shows top padding is 30px and left and right padding is 100px*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    height: 100px;
    
    
    
    /*Wraps texts acc to screen size*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     /*justify content defines how the browser distributes space between and around content items*/
     /*space-between ensures items will have space between them*/
     align-items: center;
    

    #logo
    {
        color: #000000;
        font-weight: 700; /*thiccness of characters*/
        font-size: 2em;     /*1em = 2 inches or 16 pixels*/
        /*em stands for emphemeral unit*/
        /*em is favourable than px or cm because it is relative to parent's font size*/
        text-transform: uppercase;  /*controls text case*/
        text-decoration: none;
    }    

    ul
    {
        display: flex;
        justify-content: center; /*Aligns the list items in the center of container*/
        /*They were positioned on the top right before this*/
        list-style: none;   /*Removes the bullet thingy from list*/

        li
        {
            margin-left: 20px;
            
            .links
            {
                color: black;
                
                padding: 6px 15px;
                
                /*Removes the underling thingy from links*/
                text-decoration: none;
            }

            a:hover, .home
            {
                background-color: #fff;
                border-radius: 15px;
            }

            
        }
    }
}

#bonsai_pic
    {
      
        display: block;   
        top: 15%;
        left: 40%;
        position: fixed;
        background-position: center;
        z-index: 0;
       

    }

#bonsai
{
    position: fixed; 
    background: #fff;
    padding: 10px;
    top: 20%;
    left: 10%;
    filter: opacity(0%);
    white-space: nowrap;    /*Defines how white-space is treated inside an elements*/
    /*nowrap will not break the sentence (or wrap around) into another line
    but rather continue the sentence as is*/

    /* For better explaination about nowrap: 
    https://www.w3schools.com/cssref/playdemo.php?filename=playcss_white-space&preval=nowrap */
    font-size: 6em;
}

#text_content
{
    
    position: fixed; 
    top: 40%;
    left: 10%;
    filter: opacity(0%);
    white-space: nowrap;    /*Defines how white-space is treated inside an elements*/
    /*nowrap will not break the sentence (or wrap around) into another line
    but rather continue the sentence as is*/

    /* For better explaination about nowrap: 
    https://www.w3schools.com/cssref/playdemo.php?filename=playcss_white-space&preval=nowrap */

    display: flex;
    width: 100%;
    
    ul
    {
        list-style: none;
        font-size: 2em;

        ol 
        {
            list-style: none;
            font-size: 0.5em;
        }
    }
}

.footer
{
    z-index: 2;     /*this overlaps over the image*/

    footer
    {
        position: static;   /*this helps the footer to stay at the bottom*/
        bottom: 0;      /*position relative to the bottom*/
        background-color: #171717; 
        width: 100%;
        height: 250px;
        display: flex;      /*defines the footer section as a box*/
      
        
        
        
        #footer_map
        {
            flex: 30%;
            padding-left: 10px;
            padding-top: 5px;

            iframe          /*this is the embedded map on the footer*/
            {
                width: 400px;
            }
            
        }

        #footer2, #footer3
        {
            padding-left: 10px;
            padding-top: 15px;
            
        }

        #footer2
        {
            flex: 45%;      /*divides the footer box to 45% for the middle box*/
            display: flex;  /*We make the footer2 div a box again so that we can divide two boxes,
            contact and socials in an equally spaced manner*/
            
            #contact, #socials
            {
                flex: 50%;  /*equally divides footer2 into 2 halves*/
            }

            #socials
            {
                

                img
                {
                    padding: 5px;
                }
            }
        }

        #footer3
        {
            flex: 25%;
        }

        .footer_text
        {
            color: #ecbe1a;
            font-weight: 500;   /*boldness of text*/
        }

        .footer_text_info
        {
            color: #cecece;
        }

        ul
        {
            list-style: none;       /*removes the listing dot thingy*/
            line-height: 30px;      /*vertical spacing between lines*/

            a
            {
                text-decoration: none;  /*removes underlined thingy from link*/
                color: #cecece;
            }
        }
    } 
}


